<h1>Login as User</h1>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form action="{% url 'user_auth:authenticate_user' %}" method="post">
    {% csrf_token %}

    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="User" required>
    <br/><br/>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <br/><br/>

    <input type="submit" value="Login"/>
</form>

<p>Don't have an account? <a href="{% url 'user_auth:register' %}">Register here</a>.</p>
